/Common_packages-main-Web
/Common_packages-main-Web.zip
/core/__pycache__/
/core/components/__pycache__/
/Python-main.zip
/tests/
resources/environment/__pycache__/
__pycache__/
python_main/ch/bfh/roboticsLab/robot/RobotSimulator copy.py
.gitignore
.vscode/
/core/kinematics/
/resources/environment/__pycache__/